
#wrapper{
	position: absolute;
	width: 100%; 
	height: 89%;
	z-index: 1; 
	width: 100%; 
 	margin-top:50px;  
 	overflow: auto;
}
#scroller{
	position: absolute;
	width: 100%;
	z-index: 1;   width: 100%;
}
.thelist li{ 
    padding-left:5%;
	padding-right: 5%; 
}
.thelist li input{
	font-family: "微软雅黑";
	width: 92%;
	font-size:1.35em;
	color: #7e7e7e;
    height: 2.6em;
	margin-top:1em;
	padding-left: 1.4em;
}
 
 
.btn3{
	width: 90%;
	height: 2.4em;
	border-radius: 10px;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 1.6em;
 	 background: #31cec8;
}
.btn{
	margin-top: 2em;
	 width: 100%;
	 padding-right: 5%;
	 padding-left: 5%;
	 margin-bottom: 10em;
	
}